%h1 Photos by Jesse Crouch
- @photosets.each do |photoset|
  .photoset{:id => "photoset_#{photoset.id}"}
    
    %a{:href => "/photoset/#{photoset.id}"}
      %img{:src => "#{FlickRaw.photosets_url_m(photoset)}", :alt => ""}
      %h3
        =photoset.title
    -begin
      =photoset.photos + " photos"
    -rescue
      