%ul
  %li
    %a{:href => "/photoset/" + params[:id]} Medium thumbnails 
  %li
    %a{:href => "/photoset-big/" + params[:id]} Large thumbnails
  %li
    %a{:href => "/photoset-huge/" + params[:id]} Fullsize photos
